# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\FORMATION\ExerciceJavaScript\Java-et-les-bases-de-donnees-avec-JDBC-Hibernate-et-JPA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
